{% extends "blog/base.html" %}
{% block content %}
	<h1>About Page</h1>
	<p>This is an educational blogging website that mainly emphasises on a niche subject ie. MACHINE LEARNING,AI,DEEP LEARNING, Data Science to be more precise. Also, Python programming language and it's libraries like numpy , matplotlib, scikit-learn, pandas, seaborn, theano , scipy, OpenCV followed by tensorflow(keras).
This blogging website also updates you about various ai startups globally.<ul>
<li>AI in healthcare</li>
<li>AI in banking and finance</li>
<li>AI in e-commerce</li>
<li>AI in automotive</li>
<li>AI in tele-communication</li>
<li>AI in fashion</li>
<li>AI in agriculture</li>
<li>AI in education</li></ul>

AI is probably going to touch every sector, and it's going to revolutionise and impact billions of lives in the next 10 years like electricity did in the past scenario.
</p>

<p> You can also follow us on INSTAGRAM,FACEBOOK,TWITTER,YOUTUBE,REDDIT.</p>
<a href= "https://www.facebook.com/Kscrapbookai-102089804502669/?modal=admin_todo_tour">Facebook</a>
<a href="https://www.instagram.com/kscrapbook.ai/?hl=en">Instagram</a>
{% endblock content %}
